body {
	font-family: "Bai Jamjuree", sans-serif;
	text-align: center;
	margin: 0;
}
p {
	color: lightgray;
	font-size: 1.3rem;
}
/*********History of Evything Area************/
/* History Area */
#History {
	background-image: url("..//images/bg-header-desktop.png");
	background-repeat: no-repeat;
	background-size: cover;
}
/* Big Logo */
.Clip-img {
	margin-top: 100px;
}
.History-Heading {
	font-size: 3.5rem;
}
/* Download Button Area */
.btn {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Mac Button */
.mac {
	background-color: hsl(233, 100%, 69%);
	color: #fff;
}

/***************Keep Track Area **********/
.Track-Heading {
	font-size: 2.5rem;
}
.computer-mac {
	width: 100%;
}
.Track-message {
	text-align: left;
	padding-left: 100px;
	margin-top: 30px;
	/* font-size: 1.3rem; */
}
.Track-features {
	margin-top: 50px;
}

/* Footer Area */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
